.card {
  display: inline-block;
  border: 2px solid #e7e7e7;
  width: fit-content;
  border-radius: 9px;
  margin: 0.5rem;
  padding: 0.5rem;
}

.card-content {
  padding-left: 2px;
}

.card__text {
  font-size: larger;
  color: #cc1c39 !important;
  text-align: start;
  padding-top: 0.5rem;
}

button {
  cursor: pointer;
}
.number {
  margin: 15px;
  display: flex;
  justify-content: center;
}

input {
  height: 38px;
  width: 100px;
  text-align: center;
  font-size: 26px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}
